* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.picGame {
  height: 100vh;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  position: relative;

  .ms-title {
    color: white;
  }

  //******** hp ***********
  
  .borderHp{
    width: 305px;
    border-radius: 4px;
    border: 3px solid black;
    margin: 4px auto 4px auto;

    .hp1 , .hp2 {
      .namePlayer {
        color: white;
        font-weight: 400;
      }
      .energy {
        height: 100%;
        background-color: green;
      }
    }
  }

  //******** timer ***********
  .timer{
    display: flex;
    align-items: center;
    color: red;
  }

  //******** aliens ***********
  .front,
  .back {
    border-radius: 20px;
  }
  .alienFront {
    position: absolute;
    right: 10%;
    top: 20%;
  }
  .alienBack {
    position: absolute;
    left: 10%;
    bottom: 25%;
  }

  .menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }

  .attackBox {
    height: 70px;
    color: white;
    background-color: rgb(122, 111, 149);
    border-radius: 10px;
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    span {
      animation: box 0.3s linear 1;
      padding: 4px;
    }
  }

  .attackBox:hover {
    cursor: pointer;
    background-color: rgb(173, 52, 52);
  }

  @keyframes box {
    0% {
      opacity: 0;
      transform: translateX(-6%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // animazioni attacchi sferrati
  .attackAnimation1 {
    position: absolute;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    animation: move1 0.3s linear 1;
    background-color:  rgb(137, 13, 13);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.9);
    opacity: 0;
  }

  .attackAnimation2 {
    position: absolute;
    border-radius: 100%;
    background-color: rgb(8, 130, 43);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.9);
    height: 30px;
    width: 30px;
    animation: move2 0.3s linear 1;
    opacity: 0;
  }

  @keyframes move1 {
    0% {
      left: 20%; 
      bottom: 30%;
      opacity: 1;
      transform: scale(0.3);
      background-color: yellow;
    
    }
    100% {
      left: 80%; 
      bottom: 70%;
      opacity: 1;
      transform: scale(2.0);
      background-color: red;
      
    }
  }
  
  @keyframes move2 {
    0% {
      left: 80%; 
      bottom: 70%;
      opacity: 1;
      transform: scale(0.3);
      background-color: yellow;
    
    }
    100% {
      left: 10%;
      bottom: 30%;
      opacity: 1;
      transform: scale(2.0);
      background-color: red;
      
    }
  }
  
  // border player attack
  .round-player {
    animation: alarmEffect 0.7s linear infinite;
    border-radius: 10px;
  }

  @keyframes alarmEffect {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1.0);
    }
  }
}
