.player1{
    background-color: lightgreen;
    border-radius: 4px;
    padding: 20px 50px 100px 50px;
}

.player2{
    background-color: lightcoral;
    border-radius: 4px;
    padding: 20px 50px 100px 50px;
}